*{
  margin: 0px;
  
}

.App {
  text-align: center;
}

/* Componente Header */
.logo{
  width: 200px;
  height: 150px;
}
.componenteH{
 background-color: white;
}

/* Componente Baner */
.componenteB{
  height: 7vmin;
  background-image: linear-gradient(to bottom, #237fe3, #009bed, #00b2e6, #00c6d4, #20d6be);
}
.titulo{
  color:black;
}
.subtitulo{
  color: whitesmoke;
}

/* Componente Body */

.componenteBo{
  background-color: #1367c2;
  height: 50vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  
}

.boton {
  background-color: #0317c7e0;
  border: none;
  border-radius: 1rem;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-top: 60px;
}

.boton:hover {opacity: 1}
/* Componente Footer */

.componenteF{
  height: 12.5vmin;
  background-image: linear-gradient(to bottom, #237fe3, #009bed, #00b2e6, #00c6d4, #20d6be);
}